<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>

     <h1>Bem vindo ao tela de clientes</h1>
    <hr>
    <a href="/">Voltar para a tela inicial</a>
    <%listaClientes.forEach(function(pessoa){%>
        <p>
            <a href="/clientes/<%= pessoa%>"><%= pessoa%></a>
        </p>
    <%})%>

<%- include ('partials/footer.ejs')%>
